<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="smsCoreLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="smsCoreLib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <smsCoreLib.Properties.Settings>
            <setting name="rUbo7SbaeKZQuaCKmF" serializeAs="String">
                <value>EFREN RAFANAN</value>
            </setting>
            <setting name="C7sjZ9SZ6BQmFMTuFx" serializeAs="String">
                <value>LITE-DISTRIBUTION</value>
            </setting>
            <setting name="fCoBhMKoYAWRCwhoB" serializeAs="String">
                <value>MWGC-Y4PN-G5K6-BP3F</value>
            </setting>
            <setting name="lCompany" serializeAs="String">
                <value />
            </setting>
            <setting name="lType" serializeAs="String">
                <value />
            </setting>
            <setting name="lKey" serializeAs="String">
                <value />
            </setting>
            <setting name="IsActivated" serializeAs="String">
                <value>False</value>
            </setting>
        </smsCoreLib.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <smsCoreLib.Properties.Settings>
            <setting name="smsCoreLib_smslicense_license" serializeAs="String">
                <value>http://localhost:4711/smsLauncherManagement/service/license.asmx</value>
            </setting>
        </smsCoreLib.Properties.Settings>
    </applicationSettings>
</configuration>